@{
    ViewData["Title"] = "Login";
}

<div class="">
    <form action="/Auth/Login" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label for="UserName" class="form-label">Username</label>
            <input type="text" class="form-control" id="UserName" name="UserName" aria-describedby="UserName">
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password" name="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>